.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.homePage-jumbo{
  background-color: #05A58D!important;
}

/* .skill-body{
  font-size: calc(10px + 2vmin);
} */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hero-title {
  color: #F0F8FF
}

.hero-intro{
  padding-top: 3%;
  font-size: calc(10px + 2vmin);
  padding-bottom: 0%;
  color: #01395e;
}
/* .hero-title2{
  color: #F0F8FF
} */

.hero-title2 {
  color: #4F3558
}
.hero-text{
  color: #4F3558;
  padding-bottom: 3%;
  /* width: 50%; */
}

.hero-subTitle{
  color: #F0F8FF;
  padding-bottom: 5%;
}

.button{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 0.8em 1.6em;
	letter-spacing: .20em;
	outline: none;
	cursor: pointer;
  font-weight: bold;
}

.button-home{
  border: 1.5px solid #01395e;
  color: #01395e;
  background-color: #05A58D;
}

.button-home:hover {
  background-color:#01395e;
  color: #05A58D
}
  
.Nav{
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 0.8em 1.6em;
	letter-spacing: .20em;
	outline: none;
	cursor: pointer;
  font-weight: bold;
}

a[href^="https"]{
  text-decoration: underline;
  /* color: #0b6aa8; */
}

.Ex{
  margin-top: 2%;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "&";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #01395e; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.tab{
  color: #01395e;
  background-color: #05A58D;
  font-size: 12 px;
  font-weight: bold;
}


.tab:focus:hover{
  background-color:#01395e;
  color: #F0F8FF;
}

.tab:active{
  background-color:#01395e;
  color: #05A58D
}

/* .tab:hover{
  background-color:#01395e;
  color: #05A58D
} */

.list{
  list-style: none;
}

.intro-contain{
  padding-top: 6%;
  padding-bottom: 5%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
